<% layout("./layouts/boilerplate") %> 
<div class="mt-3">
    <h1>Your Requests</h1>
</div>
<div class="row row-cols-lg-3 row-cols-md-2 mt-3 row-cols-sm-1">
<% for(let booking of allBookings){ %>

    <% for(listing of allListings){ %>
        
        <% if(listing._id.equals(booking.property._id)){ %>
            <% if(currUser._id.equals(listing.owner._id)){ %>
                
        
            
                    <div class="card col listing-card"  >
                        
                            <img src="<%= listing.image.url %>" class="card-img-top" alt="Listing Image" style="height: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">Booking ID: <%= booking._id %></h5>
                            <p class="card-text">
                                Listing: <%= listing.title %>
                            </p>
                            <p class="card-text">
                                Name: <%= booking.name %>
                            </p>
                            <p class="card-text">
                                Phone Number: <%= booking.phone %>
                            </p>
                            <p class="card-text">
                                Checkin: <%= booking.from %>
                            </p>
                            <p class="card-text">
                                Checkout: <%= booking.to %>
                            </p>
                            <form method="POST" action="/listings/bookings/<%= booking._id %>?_method=DELETE" class="mb-3">
                                <button class="btn btn-sm btn-dark" type="submit">Cancel</button>
                            </form>
                        </div>
                        </div>
                    
                
                
        

            <% } %>
        <% } %>
    <% } %>
    <% } %>
</div>
    
    
            

